<div class="container d-flex ">
  <h1>Stations</h1>
</div>

<%= console %>

<% if @stations.present? %>
  <% @stations.each do |station| %>
    <%= station.name %></h5>
    <p class="card-text"><%= station.address %></p>
    <p class="card-text"><%= station.avg_rating %></p>
    <%= link_to 'View', station_path(station) %>
  <% end %>
  <% else %>
    <p>Sorry, no stations to display!</p>
<% end %>
