<div class="footer d-flex">
  <%= link_to leaderboard_path do %>
    <i class="<%= current_class_by(path:leaderboard_path) %> fa-solid fa-ranking-star"></i>
  <% end %>

  <%= link_to stations_path do %>
    <i class="<%= current_class_by(path:stations_path) %> fa-solid fa-map-location-dot"></i>
  <% end %>

  <%= link_to new_station_path do %>
    <iconify-icon icon="ri:map-pin-add-fill" style="font-size:28px;" class="<%= current_class_by(path:new_station_path) %> mt-1 fa-solid"></iconify-icon>
  <% end %>

  <% if current_user %>
    <%= link_to user_path(current_user[:id]) do %>
      <i class="<%= current_class_by(path:user_path(current_user[:id])) %> fa-solid fa-user"></i>
    <% end %>
  <% else %>
    <%= link_to new_user_session_path do %>
      <i class="<%= current_class_by(path:new_user_session_path) %> fa-solid fa-user"></i>
    <% end %>
  <% end %>
</div>
