<div class="container text-center">
  <h1>WaterOuais</h1>
</div>

<div>
  <div class="container d-flex justify-content-center" style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
 </div>

  <div class="container d-flex justify-content-center rounded-4">
    <%= form_tag(stations_path, method: :get) do %>
      <%= text_field_tag :location, params[:location], placeholder: "Search for stations" %>
      <%= submit_tag "Search" %>
    <% end %>
  </div>
</div>
<%= link_to "Browse All Stations", stations_path(@station), :class => "btn btn-light rounded-3 mt-3" %></a>
