<div class="container-fluid justify-content-center">

<!--
  <div class="search-bar d-flex">
    <%= form_tag(stations_path, method: :get) do %>
      <%= text_field_tag :location, params[:location], placeholder: "Enter an address...", class: "rounded-4" %>
      <%= button_tag(type: "submit", class: "btn btn-default") do %>
        <i class="fa-solid fa-magnifying-glass"></i>
      <% end %>
    <% end %>
  </div>
-->

  <div class="map"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

</div>
