<div class="container" style="margin-top: 40px;">
  <div class="row justify-content-center align-items-center">
    <div class="col-12 col-md-8 col-lg-6">
        <div class="text-center">
          <h1 class="page-headers mt-4">Leaderboard</h1>

          <div class="d-flex justify-content-center align-items-center mt-2">
            <% if current_user.username == 'missmazz' %>
              <h5 class="body mb-0">Your current position:</h5>
              <h3 class="body ms-2 mb-2">#849</h3>
            <% end %>
          </div>

          <div>
          <% if @leaderboard_users.any? %>
            <ol class="list-group list-group-numbered">
              <% @leaderboard_users.each do |user| %>
               <div class="round my-1 mx-3 p-2">
                  <li class="boxes list-group-item d-flex justify-content-between align-items-center">
                  <div class="d-flex align-items-center">
                  <% rank_class = case user.row_number
                                  when 1 then 'first'
                                  when 2 then 'second'
                                  when 3 then 'third'
                                  else 'other'
                                  end %>

                  <span class="me-3 <%= rank_class %>"><%= user.row_number %></span>

                  <% if user.avatar.attached? %>
                      <%= cl_image_tag(user.avatar.key, class: "rounded-circle mx-2", width: 36, height: 36) %>
                    <% else %>
                      <%= image_tag "default_user.jpg", class: "rounded-circle mx-2", width: 36, height: 36 %>
                  <% end %>
                  </div>

                  <% if current_user.username.present?%>
                     <span class="leaderboard-users"><%= user.username %></span>
                  <% else %>
                     <span class="leaderboard-users"><%= user.email %></span>
                  <% end %>

                  <span class="points"><%= user.score.try(:total_score) || "No score available" %> points</span>
                  </li>
                </div>
              <% end %>
            </ol>
          <% else %>
            <p>No scores available yet.</p>
          <% end %>
          </div>
        </div>
      </div>
    </div>
